<section>
  <div class="w-content">
    <div class="form__container">
      <table class="table table-striped">
        <thead>
          <th>Nombre</th>
          <th>Bebida</th>
          <th>Acompañamiento</th>
        </thead>
        <tbody>
          <tr>
            {{#if requesting}}
              <td colspan="3">
                <div class="loading-spinner">
                  <div class="loading-spinner__item"></div>
                </div>
              </td>
            {{else}}
              {{#unless items}}
                <td colspan="3">
                  <span>No hay nadie apuntado aún</span>
                </td>
              {{else}}
                {{#each items}}
                  <tr>
                    <td>{{ name }} {{ surname }}</td>
                    <td>{{ drink }}</td>
                    <td>{{ complement }}</td>
                  </tr>
                {{/each}}
              {{/unless}}
            {{/if}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
