<section>
  <div class="container">
    <div class="form__container">
      <table class="table table-striped">
        <thead>
          <th>Nombre</th>
          <th>Bebida</th>
          <th>Acompañamiento</th>
        </thead>
        <tbody>
          <tr>
            {{#unless items}}
              <td colspan="3">
                {{#if errorMessage}}
                  <span>No hay nadie apuntado aún</span>
                {{else}}
                  <div class="loading-spinner">
                    <div class="loading-spinner__item"></div>
                  </div>
                {{/if}}
              </td>
            {{else}}
              {{#each items}}
                <tr>
                  <td>{{ name }} {{ surname }}</td>
                  <td>{{ drink }}</td>
                  <td>{{ complement }}</td>
                </tr>
              {{/each}}
            {{/unless}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
